a {
    text-decoration: none;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

.navbar{
    display:flex;
    align-items:center;
    flex-direction: row;
    color:black;
    margin-bottom: 60px;
    padding-top: 36px;
}

.my_name{
    flex: none;
    font-weight: 700;
    margin-right: auto;
    position: relative;
    z-index: 9;
}
.header_content{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
    position: relative;
    top: auto;
    
}

.my_name{
    display:flex;
}

.header_button{
    display:flex;
    justify-content:flex-start;
    margin-left: 75px;
}

.space_top{
    padding-left: 48px;
    padding-right: 48px;
}